.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
 
  border-radius: 15px;
  height: 90vh;
}
.carousel{
 
  padding: 1rem;
}
 
.answer-buttons {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.btn-outline-primary {
  margin-bottom: 0.75rem;
}
 
/* .carousel-control-prev-icon {
  margin-left: -40px;
}
.carousel-control-next-icon {
  margin-right: -40px;
} */

