button {
  width: 300px;
  margin-bottom: 0.5rem;
  border-radius: 0;
}
.btn-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.question {
  margin-bottom: 1.5rem;
}
img {
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 0;
}