<div class="loader-container" *ngIf="loaderService.isLoading | async">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div *ngFor="let state of states$ | async" class="col">
        <div class="card shadow-sm">
          <img
            (click)="state.visible = !state.visible"
            class="img-fluid"
            src="{{ state.plates }}"
            alt="Responsive image"
          />

          <div class="card-body">
            <div class="question">
              <h2 class="text-center">
                What is the capital of {{ state.name | titlecase }}?
              </h2>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group mx-auto">
                <button type="button" class="btn btn-outline-primary">
                  Choice1
                </button>
                <button type="button" class="btn btn-outline-primary">
                  Choice2
                </button>
                <button type="button" class="btn btn-outline-primary">
                  Choice3
                </button>
                <button type="button" class="btn btn-outline-primary">
                  Choice4
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
