<div class="loader-container" *ngIf="loaderService.isLoading | async">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div class="container">
  <div class="row">
    <div *ngFor="let state of states$ | async" class="col-12 col-sm-6 col-lg-4">
      <div class="card border-0 mx-auto mt-3 p-3">
        <img
          (click)="state.visible = !state.visible"
          class="img-fluid"
          src="{{ state.plates }}"
          alt="Responsive image"
        />
        <div>
          <div class="question-container">
          <h2 class="state text-center">
            What is the capital of {{ state.name | titlecase }}?
          </h2>
        </div>
          <div class="container-fluid">
            <div class="button-row text-center mt-3">
              <div class="col-sm-6">
                <button type="button" class="btn btn-outline-primary btn-block">Block level button</button>
              </div>
              <div class="col-sm-6">
                <button type="button" class="btn btn-outline-primary btn-block">Block level button</button>
              </div>
            </div>
            <div class="button-row text-center">
              <div class="col-sm-6">
                <button type="button" class="btn btn-outline-primary btn-block">Block level button</button>
              </div>
              <div class="col-sm-6">
                <button type="button" class="btn btn-outline-primary btn-block">Block level button</button>
              </div>
            </div>
          </div>
          <h3 *ngIf="state.visible" class="capital text-center">
            🏛️= {{ state.capital | titlecase }}
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
