h3 {
  color: #1e272e;
}
h3:hover {
  color: #95a5a6;
}
h4 {
  font-weight: 200;
}
img {
  margin-top: 1rem;
}
.card {
  height: 40vh;
}
.state {
  margin-top: 1rem;
}
.capital {
  margin-top: 1 rem;
  font-weight: 400;
  color: #7f8c8d;
}
.state:hover + .hide {
  display: block;
  opacity: 1;
  transition: opacity 1s ease-out;
}
.hide {
  display: none;
  color: #e74c3c;
}

h3 {
  cursor: pointer;
}
.example-button {
  margin-top: 16px;
}
.loader-container {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 1;
  z-index: 99;
}
